<!doctype html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Gin todo</title>
</head>
<body>
    <h1>削除確認</h1>
    <p>以下の内容を本当に削除しますか？</p>
    <ul>
        <li>内容: {{.todo.Text}}</li>
        <li>状態: {{.todo.Status}}</li>
        <li>作成時間: {{.todo.CreatedAt}}</li>
    </ul>

    <form action="/delete/{{.todo.ID}}" method="post">
        <p><input type="submit" value="削除"></p>
        <p><a href="/">戻る</a></p>
    </form>
</body>
</html>